
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Docport Admin UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>

    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container" ng-app="Admin">
        <div class="page-header">
          <a href="/tables">
          <h1>
            <img src="https://5c4bf2fef594e55677406c2676d435fcc21b32bb.googledrive.com/host/0B9LVk4xbDIJTM05fN0dacVVnYzg" alt="Docport svg logo"/>
            Admin Panel
          </h1>
          </a>
          <% if(req.session.loggedIn) { %>
          <a href="/logout" class="btn btn-warning logout-btn">Logout</a>
          <%} %>
        </div>

        <%- body %>

      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">Built with <a href="https://treeline.io">Treeline</a>.</p>
        <p class="muted credit">&copy;2015 Docport </a></p>
      </div>
    </div>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/controls/TableCtrl.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>
